.provile{
    width: 1200px;
    height: 550px;
    background: rgba(255, 255, 255, 0.7);
    margin:5% auto;
    border-radius: 30px;
}

.provile1{
    width: 1200px;
    height: 550px;
    background: rgba(255, 255, 255, 0.7);
    margin:5% auto;
    border-radius: 30px;
}